%% -*- mode: erlang -*-
[
 {mtproto_proxy,
  [
   {ports, []},
   {external_ip, "127.0.0.1"},
   {listen_ip, "127.0.0.1"},
   {num_acceptors, 2},
   {init_dc_connections, 1},
   {tls_allowed_domains, any},
   {metric_backend, mtp_test_metric}
   ]},

 %% Logging config
 {kernel,
  [{logger_level, info},
   {logger,
    [{handler, default, logger_std_h,
      #{level => info,
        config => #{type => file,
                    file => "log/test-application.log"}}},
     {handler, console, logger_std_h,
      #{level => critical,
        config => #{type => standard_io}}}
    ]}]},

 {sasl,
  [{errlog_type, error}]}
].
