%% -*- mode: erlang -*-
[
 {mtproto_proxy,
  [
   {ports, []},
   {external_ip, "127.0.0.1"},
   {listen_ip, "127.0.0.1"},
   {num_acceptors, 2},
   {init_dc_connections, 1},
   {tls_allowed_domains, any},
   {metric_backend, mtp_test_metric}
   ]},

 %% Logging config
 {lager,
  [{log_root, "log"},
   {crash_log, "test-crash.log"},
   {handlers,
    [
     {lager_console_backend,
      [{level, critical}]},

     {lager_file_backend,
      [{file, "test-application.log"},
       {level, info},

       %% Do fsync only on critical messages
       {sync_on, critical}
      ]}
    ]}]},

 {sasl,
  [{errlog_type, error}]}
].
