% -*- mode: erlang -*-
{erl_opts, [debug_info,
            {parse_transform, lager_transform}]}.

{deps, [{ranch, "1.7.0"},
        {lager, "3.6.3"},
        {psq, {git, "https://github.com/eryx67/psq.git", {branch, "master"}}}
        ]}.

{xref_checks,
 [undefined_function_calls,
  undefined_functions,
  locals_not_used,
  %% exports_not_used,
  deprecated_function_calls,
  deprecated_functions
  ]}.

{relx, [{release, { mtp_proxy, "0.1.0" },
         [lager,
          ranch,
          mtproto_proxy,
          sasl]},

        %% {sys_config, "./config/sys.config"},
        %% {vm_args, "./config/vm.args"},

        {include_erts, false},
        {extended_start_script, true}]
}.

{profiles,
 [{prod,
   [{relx, [{dev_mode, false},
            {sys_config, "./config/prod-sys.config"},
            {vm_args, "./config/prod-vm.args"},
            {include_erts, true}]}]
  }]
}.
