% -*- mode: erlang -*-
{erl_opts, [debug_info,
            {parse_transform, lager_transform}]}.

{deps, [{ranch, "1.5.0"},
        {lager, "3.6.3"}
        ]}.

{relx, [{release, { mtp_proxy, "0.1.0" },
         [lager,
          ranch,
          mtproto_proxy,
          sasl]},

        %% {sys_config, "./config/sys.config"},
        %% {vm_args, "./config/vm.args"},

        {dev_mode, false},
        {include_erts, false},

        {extended_start_script, true}]
}.
