%% -*- mode: erlang -*-
[
 {mtproto_proxy,
  %% see src/mtproto_proxy.app.src for examples.
  [
   %% PUT YOUR CUSTOM SETTINGS BELOW vvvvv

   %% {ports,
   %%  [#{name => mtp_handler_1,
   %%     listen_ip => "0.0.0.0",
   %%     port => 1443,
   %%     secret => <<"d0d6e111bada5511fcce9584deadbeef">>,
   %%     tag => <<"dcbe8f1493fa4cd9ab300891c0b5b326">>}
   %%  ]}
   %% ^^^^^ END
   ]},

 %% Logging config
 {kernel,
  [{logger_level, info},
   {logger,
    [{handler, default, logger_std_h,
      #{level => info,
        config => #{type => file,
                    file => "/var/log/mtproto-proxy/application.log",
                    max_no_bytes => 104857600,  % 100MB
                    max_no_files => 10,
                    filesync_repeat_interval => no_repeat}}},
     {handler, console, logger_std_h,
      #{level => critical,
        config => #{type => standard_io}}}
    ]}]},
 {sasl,
  [{errlog_type, error}]}
].
